/* Housing */
#Outer{margin:5px auto 0;width:960px}
#Logo{position:absolute;top:8px;left:-54px}
#Main{position:relative}
#TopToolbar{background:#F4E5EC;padding-top:10px;}
#TopToolbar p{margin:0;padding:0 20px 3px 0;text-align:right}
#LeftToolbar{background-color:#f4e5ec;float:left;padding:40px 0 0 0;width:180px}
#LeftToolbar .socialMedia{text-align:center}
#LeftToolbar ul li{padding:0 0 5px;text-align:center}
#LeftToolbar ul li a{color:#000;font-family:verdana;font-size:20px;text-decoration:none}
#LeftToolbar ul li a:hover{text-decoration:underline}
#BottomPH{background:#FFFFFF url(/resources/images/background.gif) repeat-y left top}

/* Twitter */
#twitter_div{width:160px;padding:10px}
ul#twitter_update_list{width:160px;padding:0;margin:0;overflow:hidden}
ul#twitter_update_list li{width:160px;padding:5px 0 5px 0;border-bottom:solid 1px #680441;list-style:none;text-align:left}
ul#twitter_update_list li a{color:#632035;border-bottom:dotted 1px;text-decoration:none}
ul#twitter_update_list li a:hover{color:#c36d88;border-bottom:solid 1px}

/* Content */
#ContentPH{background:transparent url(/resources/images/curve.png) no-repeat left top;float:left;width:780px}
#Content{margin:40px 10px 0}
#Content p{padding:0 0 8px}
#Content a{color:#632035;font-weight:bold;text-decoration:underline}
#Content a:hover{text-decoration:none}
#SectionTitlePH{color:#632035;font-family:Arial,Serif;font-size:16px;font-weight:bold;margin:10px 0 10px 40px}
#BreadcrumbPH{margin:0 0 10px}
#BreadcrumbPH ul li{float:left;padding:0 5px 0 0}
#BreadcrumbPH ul li a{color:#632035;font-weight:normal}
#BreadcrumbPH ul li a:hover{text-decoration:none}

/* Footer */
#Footer p{color:#fff;padding:3px 0 0;text-align:center}