/* BEGIN: Reset all styles */
/* This is taken from YUI Reset (v2.5.0) http://developer.yahoo.com/yui/reset/ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:3;padding:0;font-size:11px;font-family:Arial,Serif}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:small;font-weight:normal}
h1,h2,h3,h4,h5,h6,fieldset,input,li,textarea,p,span{font-family:Arial,Serif;font-size:12px}
q:before,q:after{content:''}
abbr,acronym{border:0}
/* END: Reset all styles */

/* BEGIN: Clearing floats */
/* Apply the 'cf' class to any elements that should expand to contain floated descendant elements */
/* http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/ */
.cf:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cf{display:inline-block}
.cf{display:block}
* html .cf{height:1px}
/* END: Clearing floats */

/* General layout */
body{color:#000;margin:5px 0}
em{font-style:italic}
h2{font-size:14px;font-weight:bold}
h3{font-size:13px;font-weight:bold}
strong{font-weight:bold}
#Footer .smallprint{color:#000;font-size:10px}
.reaction-buttons{clear:left;display:block}